html {
	background-color: #FFFFFF;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
html,body {
	max-width: 640px;
	min-height: 100%;
	margin-top: 0px;
	display: block;
	position: relative;
}
.title{
	margin: 20px 15px 7px;
	color: #6d6d72;
	font-size: 15px;
}